{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}">Categories</a></li>
{% endblock %}

{% block content %}
    <section style="background-color: grey;">
        <div class="container py-5">
            <div class="container px-4 px-lg-5">
                <div class="row d-flex">
                    <div class="col-md-10">
                        <div class="card p-3 py-4" style="background: rgba(50, 100, 150, .3)">
                            <div class="mt-3">
                                Add new task:
                                <div class="card card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="fieldWrapper">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                            </div>
                                        {% endfor %}
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}