{% extends 'base.html' %}


{% block content %}
  <div class="container-md px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8">
        {% for post in posts %}
          <div class="card my-4">
            <div class="card-body">
                <h3><a class="text-dark text-decoration-none" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                <p2>{{ post.content | truncatewords:5 }}</p2>
              <p class="card-text">Author: <a class="text-dark text-decoration-none" href="{% url 'author_detail' post.author.pk %}">{{ post.author.name }}</a> | <a class="text-dark text-decoration-none" href="{% url 'category_detail' post.category.pk %}">{{ post.category.name }}</a</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}